<!--CONTACT-->
<section id="contact">
    <div class="container">
      <h1>Get In Touch</h1>
      <div class="row">
        <div class="col-md-6 contact-info">
          <div class="follow">
            <i class="fa fa-envelope fa-2x"></i> thjomail@gmail.com
          </div>
          <div class="follow">
            <i class="fa fa-phone fa-2x"></i> +46 708 854 777
          </div>
          <div class="follow">
            <i class="fa fa-map-marker fa-2x"></i> Stockholm, Sweden
          </div>
        </div>
        <div class="col-md-6 social">
          <div class="follow">
            <h4>Get social</h4>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/therese-johansson-b057a021"><i class="fa fa-linkedin fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/LezCodeHer"><i class="fa fa-github fa-2x"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/therese.t.johansson.71"><i class="fa fa-facebook fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
