<!--HOME-->
<section>
    <div class="canvas">
      <canvas id="canvas"></canvas>
      <div class="intro-text">
        <h2>Hi! I am</h2>
        <h1 class="highlight">THERÉSE JOHANSSON</h1>
        <h2>a FrontEnd developer student</h2>
      </div>
        <div class="col-md-16 text-center">
          <a class="intro-button" href="#start" >VIEW MORE</a>
        </div>
    </div>
   
    <!-- <div class="intro-button">
        <a href="#" target="_blank">view more</a>
    </div> -->
  </section>