<!--PROJECTS-->
<section id="projects">
    <div class="container">
      <h1>WHAT I'VE DONE</h1>
      <div class="row projects">
        <div class="col-md-4 project-img text-center">
          <div class="img-box">
            <img src="/assets/img/proj-css-colors-crop.png" alt="css colors project" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/mmdarrah/colors">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>< CSS Colors website ></h2>
          <h3>December 2018</h3>
          <p>A school project I did with a study buddie within our studies at Nackademin</p>
        </div>
        <div class="col-md-4 project-img text-center">
          <div class="img-box">
            <img src="/assets/img/proj-figma-photo02-crop.png" alt="mockup photographer portfolio" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="https://www.figma.com/file/PLTex3wz2Jo8eZV614pq7Mcx/T.Photo?node-id=0%3A1">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>< Photographer mockup ></h2>
          <h3>January 2019</h3>
          <p>School project to make a full on working mockup of a website</p>
        </div>
        <div class="col-md-4 project-img text-center">
          <div class="img-box">
            <img src="/assets/img/proj-superhero4hire-01-crop.png" alt="superhero 4 hire project" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/mmdarrah/SuperHero4rent">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>< Superhero 4 hire ></h2>
          <h3>February 2019</h3>
          <p>School project made with three other study buddies</p>
        </div>
        <!-- <div class="col-md-3 project-img text-center">
          <div class="img-box">
            <img src="img/proj-imgPortfolioDesktop.jpg" alt="Desktop image Portfolio" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="#">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>Project 04</h2>
          <h3>2018-00-00</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quasi magnam labore sint eligendi odio
            explicabo?</p>
        </div> -->
        <div class="col-md-4 project-img text-center">
          <div class="img-box">
            <img src="/assets/img/proj-bookshelf.jpg" alt="codeBooks" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="#">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>Project 05</h2>
          <h3>2019</h3>
          <p>COMING SOON!</p>
        </div>
        <div class="col-md-4 project-img text-center">
          <div class="img-box">
            <img src="/assets/img/projectDesk.jpg" alt="work desk" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="#">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>Project 06</h2>
          <h3>2019</h3>
          <p>COMING SOON!</p>
        </div>
        <div class="col-md-4 project-img text-center">
          <div class="img-box">
            <img src="/assets/img/proj-laptopProject.jpg" alt="Laptop project" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="#">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>Project 07</h2>
          <h3>2019</h3>
          <p>COMING SOON!</p>
        </div>
      <!--   <div class="col-md-3 project-img text-center">
          <div class="img-box">
            <img src="img/proj-imgPortfolioDesktop.jpg" alt="Desktop image Portfolio" class="img-thumbnail">
            <ul>
              <a target="_blank" rel="noopener noreferrer" href="#">
                <li><i class="fa fa fa-github fa-3x"></i></li>
              </a>
            </ul>
          </div>
          <h2>Project 08</h2>
          <h3>2018-00-00</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quasi magnam labore sint eligendi odio
            explicabo?</p>
        </div> -->
      </div>
    </div>
  </section>