html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}
/***************Navigation**************/
#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	float: left;
	text-align: left;
}

#nav-bar ul li a:hover {
	color: #98878f !important;
}

.navbar {
	background: #192231;
}

.navbar-toggler {
	border: none !important;
}
.navbar-toggler:focus {
	outline: none;
}

.nav-link {
	color: #ffffff !important;
	font-weight: 600;
	font-size: 16px;
}

/**** HEADER ****/
#canvas {
	background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("/assets/img/bgr-unsplashPurple-copy02.jpg");
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	position: absolute;
	/* background-color: #192231; */
	width: 100%;
	z-index: -10;
}
.intro-text{
	position: relative;
	padding-top: 10%;
	text-align: center;
}
.intro-text h2{
	/* color: #f8f8f8; */
	/* color: #aea9c4a8; */
	color: #fcedd696;
	font-size: 50px;
	opacity: 0.8;
}
.intro-text h1{
	letter-spacing: 0.3em;
	font-size: 60px;
	font-weight: 800;
}
.highlight{
	/* color: #752f7e; */
	color: #fcedd6;
	
}
.intro-button{
	padding: 2% 2%;
	/* border: 3px solid #e0ccc8; */
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #e0ccc8;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 20%;
	
	
}
/* #intro {
	max-width: 960px;
	margin: 0 auto;
	padding: 8% 0;
}
#intro h1 {
	font-size: 4em;
	float: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 800;
	color: #fff;
	/* line-height: 1.5em; */
/* }
#intro h2 {
	font-size: 2em;
	float: none;
	font-weight: 300;
	letter-spacing: 0.09em;
	color: #fff;
}

.highlight{
	color: #985E6D !important;
} */

/*************/
/* canvas {
	background-color: #192231;
	background-size: cover;
	background-position: center top;
	width: 100%;
}
#intro {
	max-width: 960px;
	margin: 0 auto;
	padding: 8% 0;
}
#intro h1 {
	font-size: 4em;
	float: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 800;
	color: #fff;
	/* line-height: 1.5em; 
}
 #intro h2 {
	font-size: 2em;
	float: none;
	font-weight: 300;
	letter-spacing: 0.09em;
	color: #fff;
} */



/********About********/
#about {
	padding-top: 30%;
	padding-bottom: 40px;
	color: #494e6b;
}

/* #about  */
h1 {
	text-align: center;
	color: #192231;
	padding-bottom: 10px;
}

#about h1::after {
	content: "";
	background: #192231;
	display: block;
	height: 4px;
	width: 100px;
	margin: 20px auto 5px;
}

.about-content {
	padding-top: 50px;
	padding: 50px 80px 0 80px;
	text-align: justify;
}

#about h3 {
	padding-top: 30px;
	text-align: center;
	color: #192231;
}
.profile-img{
	height: 400px;
	margin-left: 80px;
}

.skills-bar {
	/* margin-top: 30px; */
}

.skills-bar p {
	margin-bottom: 6px;
	font-weight: 400;
}

.progress-bar {
	border-radius: 16px;
	background-color: #985e6d !important;
}

.progress {
	border-radius: 16px !important;
	margin-bottom: 20px;
}

/*****************projects***************/
#projects {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/img/code-js-copy.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 40px;
}

#projects h1 {
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}

#projects h1::after {
	content: "";
	background: #efefef;
	display: block;
	height: 4px;
	width: 100px;
	margin: 20px auto 5px;
}
#projects p{
	margin-left: 10px;
	margin-right: 10px;
	/* text-align: justify; */
	font-size: 20px;
}

.project-img {
	margin-top: 25px;
}

.project-img .img-box {
	opacity: 1;
	display: block;
	position: relative;
}

.project-img .img-box img {
	filter: grayscale(1);
}

.project-img .img-box img:hover {
	filter: grayscale(0);
	cursor: pointer;
}

.project-img h2 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #fefefe !important;
}

.project-img h3 {
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}

#projects .fa {
	height: 50px;
	width: 50px;
	color: #ffffff !important;
	background: #192231;
	padding: 4px;
	border-radius: 50%;
}

/******ul, li = github icon******/
.img-box ul {
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	/* not visible */
}

.img-box ul li {
	padding: 5px;
	display: inline-block;
}

.img-box:hover ul {
	opacity: 1;
	/* icon visible when hover */
}

.img-box ul,
.img-box ul li {
	transition: 0.5s;
}

.img-thumbnail {
	height: 270px !important;
	width: 380px !important;
}

.col-md-4 {
	padding: 4px !important;
}

/****************Contact*********/
#contact {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #494e6b;
}
#contact h1::after {
	content: "";
	background: #192231;
	display: block;
	height: 4px;
	width: 100px;
	margin: 20px auto 5px;
}
.follow {
	background: #192231;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	color: #efefef;
}

.follow .fa {
	margin: 10px;
	color: #efefef;
	margin-left: 30px;
	margin-right: 30px;
}

.social {
	text-align: center;
}
/**********Footer*********/
#footer{
	text-align: center;
	background: #192231;
	color: #efefef;
	padding: 12px;
}
.fa-heart-o{
	margin: 7px;
	color: #ff0000b2;

}
/*******************back to top******************/
#return-to-top {
    position: fixed;
    bottom: 20px;
	right: 20px;
	z-index: 1500;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
   /*  display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; */
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}

